.container_tabelas_Funcionarios{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.tabela_Funcionarios{
    width: 60%;
    min-height: 300px;
    max-height: 300px;
    background-color: #ECECEC;
    padding: 20px;
    overflow:auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.tabela_Funcionarios::-webkit-scrollbar{
    background-color: #C989D2;
    width: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tabela_Funcionarios table{
    width: 100%;
    max-height: 200px;
}
.txt_cadastrar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 30px;
}

.box_fantasma {
    width: 17%;
    height: 100%;
    padding: 0 20px;
}
.box_txt{
    width: 60%;
    height: 50px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.button_txt {
    padding: 20px 0;
}

.box_txt h1 {
    color: #7E7878;
}

.loading-user {
    height: 100px;
    width: 100px;
    display: block;
}

.box-feedback-user {
    margin-top: 80px;
}

.box_txt a{
    background-color: #934c9e;
    color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    transition: .3s;
}
.td_curto{
    width: 10%;
    height: 30px;
    border-bottom: 2px solid black;
    text-align: center; 
}
.td_normal{
    width: 25%;
    height: 30px;
    border-bottom: 2px solid black;
    text-align: center; 
}
.td_grande{
    width: 30%;
    height: 30px;
    border-bottom: 2px solid black;
    text-align: center; 
}
.box_legenda{
    width: 17%;
    height: 300px;
    background-color: #ECECEC;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 20px;
}

.box_legenda h4{
    margin: 0;
}

.box_legenda .box{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.box .cores{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    align-items: center;
}

.box .label{
    font-weight: bolder;
}

.explic {
    margin-bottom: 10px;
}

.cores label{
    margin-left: 5px;
}

.bola_red{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: red;
}
.bola_yellow{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    border: 2px solid yellow;
    background-color: yellow;
}
.bola_green{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    border: 2px solid green;
    background-color: green;
}

.td{
    height: 40px;
    text-align: center;
}

.icon {
    cursor: pointer;
}